@font-face {
	font-family: "texta";
	font-weight: 700;
	src: url("../fonts/TextaBold.woff") format("woff");
}
@font-face {
	font-family: "noto";
	font-weight: 400;
	src: url("../fonts/NotoSansJP-Regular.woff") format("woff");
}
@font-face {
	font-family: "noto";
	font-weight: 700;
	src: url("../fonts/NotoSansJP-Medium.woff") format("woff");
}
// $font-texta : 'texta', sans-serif;


html {
    font-size: 62.5%;
}
body {
    color: #333333;
    font-family: 'noto', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
}

main {
    margin-top: 100px;
    overflow-x: hidden;
}

.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}
.sub-header {
    padding: 100px 0;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        height: 1px;
        background: #C3C3C3;
        width: calc(100vw - 50px);
    }
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        height: 1px;
        background: #43C4C4;
        width: 10%;
    }
}
.sub-title {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    .en {
        color: #43C4C4;
        font-size: 1.5rem;
        margin-bottom: 8px;
    }
}
.en {
    font-family: 'texta', sans-serif;
}