// 色
$blue: #43C4C4;
$gray: #F5F5F5;


.slick-list {
    height: calc(100vh - 200px);
}
.slick-dots {
    position: initial;
}
.slick-slider {
    margin-left: 160px;
    img {
        object-fit: cover;
    }
}


.slick-dots li.slick-active button:before {
    color: $blue;
}
.slick-dots li button::before {
    color: #A2A5AC;
}

.slick-dots li button::before {
    color: #A2A5AC;
    opacity: 1;
}

.slick-dots {
    height: 100px;
    text-align: right;
    padding-right: 100px;
    display: flex!important;
    align-items: center;
    justify-content: flex-end;
}

.slider-item {
    height: 100vh;
}