@import "../global/color";
@import '../global/breakpoint';


.slick-list {
    height: calc(100vh - 200px);
    @include mq(sp) {
        height: calc(100vh - 100px);
    }
}
.slick-dots {
    position: initial;
}
.slick-slider {
    margin-left: 160px;
    @include mq(sp) {
        margin-left: 80px;
    }
    img {
        object-fit: cover;
    }
}


.slick-dots li.slick-active button:before {
    color: $blue;
}
.slick-dots li button::before {
    color: #A2A5AC;
}

.slick-dots li button::before {
    color: #A2A5AC;
    opacity: 1;
}

.slick-dots {
    height: 100px;
    text-align: right;
    padding-right: 100px;
    display: flex!important;
    align-items: center;
    justify-content: flex-end;
    @include mq(sp) {
        height: 50px;
        padding-right: 50px;
    }
}

.slick-dots li {
    @include mq(sp) {
        width: 15px;
        height: 15px;
    }
}

.slider-item {
    height: 100vh;
}