@import "./global/color";
@import "./global/breakpoint";

.company-wrap {
    margin-bottom: 150px;
    @include mq(sp-n) {
        margin-bottom: 100px;
    }
}
.company-message-wrap {
    margin-bottom: 100px;
    @include mq(sp-n) {
        margin-bottom: 50px;
    }
    .message-title-wrap {
        .message-text {
            width: 85%;
            margin-top: 3px;
            font-size: 1.8rem;
            color: $blue;
        }
    }
}

.sub-sub-title {
    margin-bottom: 20px;
    p {
        font-size: 1.8rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        &:before {
            content: '';
            display: inline-block;
            width: 10px;
            height: 2px;
            background: $blue;
            margin-right: 10px;
        }
    }
}

.company-data-wrap {
    .company-data-title {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 30px;
    }
    .table {
    width: 100%;
    th,td {
    border: 1px solid #C3C3C3;
    padding: 20px;
    @include mq(sp-n) {
        padding: 10px;
    }
    }
    th {
    font-weight: bold;
    background-color: #e8e8e8; 
    @include mq(sp-n) {
        width: 30%;
    }
    }
    }
    
}
