@import "./global/color";
@import "./global/breakpoint";

main {
    background: $gray;
}
.form {
    padding: 100px 0;
    padding-top: 0;
}
form {
    padding: 100px 100px;
    position: relative;
    z-index: 0;
    @include mq(sp){
        padding: 50px;
    }
    @include mq(sp-n){
        padding: 20px;
    }
    &:after {
        content: '';
        top: 0;
        left: 0;
        position: absolute;
        width:calc(100vw - 50px);
        height: 100%;
        background:#fff;
        z-index: -1;
        @include mq(sp){
            width: 100%;
        }
    }
    button {
        background: $blue!important;
        padding: 20px 40px;
        display: block;
        color: #fff;
        margin-left: auto;
    }
}
.contact-item-wrap {
    .contact-item {
        display: block;
        margin: 20px 0;
        display: flex;
        @include mq(sp) {
            flex-direction: column;
        }
        label {
            margin-right: 20px;
            width: 25%;
            @include mq(sp) {
                width: 100%;
                margin-bottom: 5px;
            }
        }
        input,textarea{
            width: 75%;
            @include mq(sp) {
                width: 100%;
            }
        }
    }
}

.form-container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}



input,textarea,select {
    background-color: #f1f1f1;
    padding: 10px;
}