// è‰²
$blue: #43C4C4;
$gray: #F5F5F5;

.contact {
    padding: 100px 0;
    background-image: url("./../images/contact-bg.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    &:after {
        position: absolute;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(70deg, rgba(116, 235, 213, 0.9), rgba(159, 172, 230, 0.9));
        z-index: -1;
    }
    .sub-title {
        text-align: center;
        span {
            color: #fff;
        }
    }
}
.footer {
    background-color: #E2E2E2;
    padding: 100px 0;
    .footerWrap {
        display: flex;
        justify-content: space-between;
        .footer-left {
            .logo {
                width: 200px;
                color: #333;
                font-size: 40px;
                font-weight: bold;
                margin-bottom: 10px;
                margin-bottom: 30px;
            }
        }
        .footer-right {
            color: #5d5d5d;
            dl {
                display: flex;
                margin-bottom: 30px;
                line-height: 2;
                font-size: 1.4rem;
                dt {
                    width: 30%;
                }
                dd {
                    width: 70%;
                }
            }
        }
    }
    .copy {
        display: block;
        margin-top: 100px;
        text-align: right;
    }
}

.circle-container {
	position: relative;
	width: 100%;
    height: 220px;
    margin-top: 30px;
}

.circle {
	position: absolute;
    top: 32px;
	left: 50%;
    transform: translateX(-50%);
	width: 170px;
	height: 170px;
	border-radius: 50%;
	border: solid 1px #ffffff;
    white-space: nowrap;
    p {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%);
        color: #fff;
        font-size: 1.6rem;
    }
}

.item {
	position: absolute;
    top: 110px;
	left: 49.5%;
    // transform: translateX(-50%);
    width: 13px;
    height: 13px;
	border-radius: 50%;
	background: $blue;
	animation: circle-move-anim 6s linear infinite;
	/* for text */
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	color: #FFF;
}

@keyframes circle-move-anim {
	0% {
		transform: rotate(0deg) translateX(calc(-50% - 77px)) rotate(0deg);
	}

	100% {
		transform: rotate(360deg) translateX(calc(-50% - 77px))  rotate(-360deg);
	}
}