.header {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-family: 'texta', sans-serif;
    z-index: 100;
    background: #fff;
}
.logo {
    width: 200px;
    color: #333;
    font-size: 30px;
    margin-left: 50px;
}
.nav-wrap {
    display: flex;
    .nav {
        display: flex;
        align-items: center;
        .contact {
            color: #43C4C4;
        }
        a {
            margin-right: 44px;
            font-size: 1.4rem;
        }
    }
    .open-menu {
        width: 140px;
        height: 100px;
        background: linear-gradient(70deg, #74EBD5, #9FACE6);
        position: relative;
        cursor: pointer;
        span {
            display: inline-block;
            transition: all .4s;/*アニメーションの設定*/
            position: absolute;
            left: 13px;
            left: 50%;
            height: 2px;
            background-color: #fff;
        }
        .open:nth-of-type(1) {
            top: 50%;
            transform: translate(-50%) rotate(-45deg);
            width: 33%;
        }
        .open:nth-of-type(2) {
            top: 50%;
            transform: translate(-50%) rotate(45deg);
            width: 33%;
        }
        .close:nth-of-type(1) {
            transform: translateX(-50%);
            top:42px;	
            width: 30%;
        }
        .close:nth-of-type(2) {
            transform: translateX(-50%);
            top:53px;
            width:30%;
        }
    }
}

// ハンバーガー
.hum-nav-wrap {
    width: 100%;
    position: fixed;
    top: 100px;
    left: 0;
    height: 100%;
    background-color:#fff;
    padding-top: 10%;
    display: none;
    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        a {
            margin: 10px 0;
        }
        .contact {
            color: #43C4C4;
        }
    }
}
.hum-nav-wrap-open {
    display: block;
    width: 100%;
    position: fixed;
    top: 100px;
    left: 0;
    height: 100%;
    background-color:#fff;
    padding-top: 10%;
    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        a {
            margin: 10px 0;
        }
        .contact {
            color: #43C4C4;
        }
    }
}