.news-detail-wrap {
    .news-title {
        font-size: 3rem;
        margin-bottom: 30px;
        font-weight: bold;
    }
    .news-date {
        margin-bottom: 0px;
        font-size: 1.3rem;
    }
    padding-bottom: 150px;
}