@import './global/color';
@import './global/breakpoint';

.fv {
    position: relative;
    z-index: 0;
    background: #fff;
    &:after {
        position: absolute;
        content: '';
        bottom: 0;
        width: 100%;
        height: 50%;
        background: $gray;
        z-index: -1;
    }
}

section {
    padding: 100px 0;
}
.company {
    background: #fff;
    position: relative;
    z-index: 0;
    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;
        height: 40%;
        background: $gray;
        z-index: -1;
    }
    .company-image-wrap {
        margin-left: calc(((100vw - 100%) / 2) * -1);
        height: 600px;
        overflow: hidden;
        margin-top: 100px;
        width: 95%;
        @include mq(sp) {
            height: 450px;
        }
        .company-image {
            object-fit : cover;
            height: 600px;
            @include mq(sp) {
                height: 450px;
            }
        }
    }
    .company-text {
        margin-left: 40%;
        background: #fff;
        margin-top: -30%;
        position: relative;
        z-index: 3;
        padding: 80px;
        @include mq(tab) {
            margin-left: 13%;
        }
        @include mq(sp) {
            margin-left: 5%;
            padding: 60px;
        }
        .message {
            font-weight: bold;
            font-size: 4rem;
            letter-spacing: 4px;
            margin-bottom: 45px;
            @include mq(tab) {
                font-size: 3rem;
            }
            @include mq(sp) {
                font-size: 2rem;
                margin-bottom: 25px;
            }
            span {
                color: $blue;
                &:nth-child(1) {
                    margin-right: 10px;
                }
                &:nth-child(2) {
                    margin-left: 10px;
                }
            }
        }
        .message-detail {
            line-height: 2;
            margin-bottom: 80px;
            @include mq(sp) {
                margin-bottom: 40px;
            }
        }
        .more-btn {
            justify-content: flex-end;
        }
    }
}

.business {
    z-index: 0;
    position: relative;
    &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 40%;
        height: 40%;
        background: #FFFFFF;
        z-index: -1;
        @include mq(tab) {
            height: 33%;
        }
    }
    .business-wrap {
        @include mq(sp){
            margin-left: calc(((100vw - 100%) / 2) * -1);
            margin-right: calc(((100vw - 100%) / 2) * -1);
        }
    }
    .business-item {
        display: flex;
        justify-content:space-between;
        align-items:center;
        @include mq(tab) {
            margin-bottom: 70px;
        }
        @include mq(sp) {
            flex-direction: column;
        }
        &:nth-child(1) {
            margin-top: 100px;
        }
        &:nth-child(2n-1) {
            margin-left: calc(((100vw - 100%) / 2) * -1);
            @include mq(sp) {
                margin-left: 0;
                flex-direction: column;
                width: 100%;
            }
        }
        &:nth-child(2n) {
            margin-right: calc(((100vw - 100%) / 2) * -1);
            @include mq(sp) {
                margin-right: 0;
                flex-direction: column-reverse;
                width: 100%;
            }
        }
        .business-image-wrap {
            width: 50vw;
            height: 500px;
            @include mq(tab) {
                height: 400px;
            }
            @include mq(sp) {
                margin-left: calc(((100vw - 100%) / 2) * -1);
                margin-right: calc(((100vw - 100%) / 2) * -1);
                width: 100%;
                margin-bottom: 30px;
            }
            img {
                height: auto;
            }
        }
        .contents-wrap {
            width: 500px;
            @include mq(tab) {
                padding: 0 70px;
            }
            @include mq(sp) {
                width: 100%;
                padding: 0 20px;
            }
            .title {
                font-size: 3rem;
                font-weight: bottom;
                margin-bottom: 30px;
            }
            .detail {
                margin-bottom: 100px;
                @include mq(tab) {
                    margin-bottom: 50px;
                }
            }
        }
    }
}

// 商品
.product {
    background: #fff;
    padding: 150px 0;
    .products-wrap {
        display: flex;
        justify-content:space-between;
        margin-top: 150px;
        margin-bottom: 100px;
        @include mq(tab) {
            flex-wrap: wrap;
        }
        .products-item {
            width: 22%;
            padding-top: 22%;
            position: relative;
            box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            @include mq(tab) {
                width: 30%;
                padding-top: 30%;
                margin-bottom: 50px;
            }
            &:nth-child(1)::after {
                content: 'NEW';
                position: absolute;
                color: $blue;
                font-size: 1.5rem;
                top: -50px;
                font-weight: bold;
                font-family: 'texta', sans-serif;
            }
            .product-image-wrap {
                width: 100%;
                top:0;right:0;bottom:0;left:0;position:absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                .product-image-item {
                    width: 55%;
                    img {
                        object-fit: contain;
                    }
                }
            }
        }
        .products-item-none {
            background: $gray;
        }
    }
}

// ニュース
.news {
    padding: 150px 0;
    .news-container {
        display: flex;
        justify-content: space-between;
    }
    .sub-title-wrap {
        width: 30%;
    }
    .news-wrap {
        margin-top: 20px;
        margin-bottom: 50px;
        width: 70%;
        .news-item {
            display: flex;
            padding: 20px 0;
            border-bottom: 1px solid #e1e1e1;
            transition: all 0.3s;
            &:hover {
                opacity: 0.5;
            }
            .news-item-day {
                width: 10%;
                margin-right: 50px;
            }
            .news-item-detail {
                width: 80%;
            }
        }
    }
}