// 色
$blue: #43C4C4;
$gray: #F5F5F5;

.fv {
    position: relative;
    z-index: 0;
    background: #fff;
    &:after {
        position: absolute;
        content: '';
        bottom: 0;
        width: 100%;
        height: 50%;
        background: $gray;
        z-index: -1;
    }
}

section {
    padding: 100px 0;
}
.company {
    background: #fff;
    position: relative;
    z-index: 0;
    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;
        height: 40%;
        background: $gray;
        z-index: -1;
    }
    .company-image-wrap {
        margin-left: calc(((100vw - 100%) / 2) * -1);
        height: 600px;
        overflow: hidden;
        margin-top: 100px;
        width: 95%;
        .company-image {
            object-fit : cover;
            height: 600px;
        }
    }
    .company-text {
        margin-left: 40%;
        background: #fff;
        margin-top: -30%;
        position: relative;
        z-index: 3;
        padding: 80px;
        .message {
            font-weight: bold;
            font-size: 4rem;
            letter-spacing: 4px;
            margin-bottom: 45px;
            span {
                color: $blue;
                &:nth-child(1) {
                    margin-right: 10px;
                }
                &:nth-child(2) {
                    margin-left: 10px;
                }
            }
        }
        .message-detail {
            line-height: 2;
            margin-bottom: 80px;
        }
        .more-btn {
            justify-content: flex-end;
        }
    }
}

.business {
    z-index: 0;
    position: relative;
    &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 40%;
        height: 40%;
        background: #FFFFFF;
        z-index: -1;
    }
    .business-item {
        display: flex;
        justify-content:space-between;
        &:nth-child(1) {
            margin-top: 100px;
        }
        &:nth-child(2n-1) {
            margin-left: calc(((100vw - 100%) / 2) * -1);
        }
        &:nth-child(2n) {
            margin-right: calc(((100vw - 100%) / 2) * -1);
        }
        .business-image-wrap {
            width: 50vw;
            height: 480px;
            img {
                height: auto;
            }
        }
        .contents-wrap {
            width: 500px;
            padding: 50px 0;
            .title {
                font-size: 3rem;
                font-weight: bottom;
                margin-bottom: 30px;
            }
            .detail {
                margin-bottom: 100px;
            }
        }
    }
}

.product {
    background: #fff;
}